<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>UEmergency | Dashboard Alert</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link  rel="stylesheet"  href="/bootstrap-3.3.6/dist/css/bootstrap.min.css"    />
         <script src="/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
        <link rel="shortcut icon" type="image/png" th:href="@{/images/u.png}"  href="/images/u.png"/>
       
        <link rel="stylesheet"  href="/bootstrap-3.3.6/dist/font-awesome-4.6.3/css/font-awesome.min.css"  />
    </head>
      <style>
        body {font-size:13px;
              font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
              color: #6a6c6f ;} 

    </style>
    <body>
        <div class="row">
             <div class="col-md-3 col-sm-3" style="background:#CEE3F6;height:100%">
                <strong>
                    <center><span style="color:blue;">Welcome Olivia</span></center>
                    <center><img src="/images/u.png" th:src="@{/images/u.png}" alt="Smiley face" height="120" width="120" /> </center>
                    <br/>
                    <ul class="nav nav-pills nav-stacked ">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <li role="presentation" class="active nav-justified"><a href="acceuil.xhtml"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Alerts Management </a></li>
                    </ul>
                </strong>   
            </div>
            <div class="col-md-9 col-sm-9">
      
                <div class="row">
                    
                    
                    <div class="col-md-12 ">
                        <strong>
                            <h2>Incoming Alert DashBoard</h2>
                            
                        </strong>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="row">
                            
                            
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                           <thead>
                               <tr>

                                   <th><b>Date of issue </b></th>
                                   <th><b>Service</b></th>
                                   <th><b>Description</b></th>
                                   <th><b>View The Location</b></th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr class="odd gradeX" th:each="periode : ${alerts}">
                                   <td  th:text="${periode.created}"></td>
                                   <td th:text="${periode.title}"></td>
                                   <td th:text="${periode.description}"></td>
                                   <td>
                                       <ul class="nav fa-edit">
                                           <li title="see">
                                                <a  sec:authorize="hasAnyRole('ADMIN','ModifPériode')" th:href="@{/product/detailalert/{id}(id=${periode.locationId.id})}">
                                               
                                                   <i class="fa fa-edit"></i> 
                                               </a>
                                           </li>
                                       
                                       </ul>
                                   </td>
                   

                           </tr>
                           </tbody>
                       </table> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </body>
</html>
