<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div >
        <h2>Table List</h2>
        
         <div class="row" >
             <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${products}">
             <div class="card h-100">
    <a  th:href="@{'/table/'+${item.table_id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="#" th:text="${item.status}">Status</a>
        </h4>
        <h5 th:text="${item.Etat}">$24.99</h5>
        
    </div>
    <div class="card-footer">
        <small class="text-muted">★ ★ ★ ★ ☆</small>
    </div>
</div>    
                 
                 
             </div>
             
         </div>
        
       
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/table/new">New Table</a>
        </div>
       
    </div>
</div>

</body>
</html>