<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>UEmergency | Map Localisation </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
     <link rel="shortcut icon" type="image/png" th:href="@{/images/u.png}"  href="/images/u.png"/>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
      <img src="/images/u.png" th:src="@{/images/u.png}" alt="Smiley face" height="120" width="120" />
  <center>
      <h3>     GeoLocation of :   <label th:text="${user}"  /> </h3>
    </center>
    <div id="map"></div>
    <script th:inline="javascript">
      var map;
      function showlocation() {
            // One-shot position request.
            navigator.geolocation.getCurrentPosition(callback);
        }

        function callback(position) {

            var lat = position.coords.latitude;
            var lon = position.coords.longitude;

            document.getElementById('latitude').innerHTML = lat;
            document.getElementById('longitude').innerHTML = lon;

            var latLong = new google.maps.LatLng(lat, lon);

            var marker = new google.maps.Marker({
                position: latLong
            });

            marker.setMap(map);
            map.setZoom(15);
            map.setCenter(marker.getPosition());
        }

      function initMap() {
           /*<![CDATA[*/
          var lat =  /*[[${lati}]]*/ 'User Name';
            var lon =  /*[[${longi}]]*/'User Name' ;
            
              /*]]>*/
          var latLong = new google.maps.LatLng(lat,lon);
          
          
          var marker = new google.maps.Marker({
                position: latLong
            });
           
        map = new google.maps.Map(document.getElementById('map'), {
         
          zoom: 15
        });
         marker.setMap(map);
        map.setCenter(marker.getPosition());
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmv8wieNNykKVjJR-2fyaFh2eDzB1xbLs&callback=initMap"
    async defer></script>
  </body>
</html>